@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-button-next{
  color: #DF0624!important;
}

.swiper-button-prev{
  color: #DF0624!important;
}

.swiper-pagination-bullet-active{
  background-color: #FFFFFF;
  color: #DF0624;
}

.swiper-pagination-bullet{
  margin-right: 3px;
  margin-left: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}